.wrapper{
    margin: 2rem auto;
    padding: 0 1rem;
}

@media (max-width: 768px){

    html {
        /*nao usar em px*/
        font-size: 87.5%;
    }

    /*O grid vai ter apenas 1 coluna*/
    .wrapper{
        grid-template-columns: 1fr;
    }
}
